.feedzy-rss > ul {
margin: 0;
padding: 0;
} .feedzy-rss .rss_item {
border-bottom: 1px solid #eee;
list-style: none;
}
.feedzy-rss .rss_item .title {
font-weight: bold;
} .feedzy-rss .rss_item:after {
display: block;
clear: both;
content: "";
} .feedzy-rss .rss_item .rss_image {
float: left;
position: relative;
border: none;
text-decoration: none;
max-width: 100%;
}
.feedzy-rss .rss_item .rss_image span {
display: inline-block;
position: absolute;
width: 100%;
height: 100%;
background-position: 50%;
background-size: cover;
} .feedzy-rss .rss_item .rss_image .fetched {
z-index: 9;
}
.feedzy-rss .rss_item .rss_image {
margin: 0.3em 1em 0 0;
}
.feedzy-rss .rss_item .rss_content small {
display: block;
font-size: 0.9em;
font-style: italic;
} .feedzy-rss ul {
margin: 0 -2%;
}
.feedzy-rss ul:before,
.feedzy-rss ul:after {
display: table;
content: " ";
}
.feedzy-rss ul:after {
clear: both;
}
.feedzy-rss .rss_item {
margin: 2%;
padding: 0;
} .feedzy-rss .feedzy-style1 .rss_image,
.feedzy-rss .feedzy-style1 .rss_content_wrap {
display: inline-block;
width: 100%;
}
.feedzy-rss .feedzy-style1 .rss_item .rss_image span {
width: 100%;
}
.feedzy-rss .feedzy-style1 .rss_content_wrap {
text-align: left;
}
.feedzy-rss .feedzy-style1 .rss_item {
text-align: center;
}
.feedzy-rss .feedzy-style2 .rss_item .rss_image {
float: none;
}
.feedzy-rss .feedzy-style2 .rss_item .rss_image span {
width: 100%;
}
.feedzy-rss .feedzy-style2 .rss_content_wrap {
text-align: left;
}
.feedzy-rss .feedzy-style2  .rss_item {
text-align: center;
}
.feedzy-rss .feedzy-style1 .rss_image {
float: none;
width: 100%;
padding: 0;
text-align: center;
-webkit-transition: 0.75s ease;
transition: 0.75s ease;
}
.feedzy-rss .feedzy-style1 .rss_image a {
border: 3px solid transparent;
border-radius: 50%;
-webkit-transition: 0.5s ease;
transition: 0.5s ease;
}
.feedzy-rss .feedzy-style1 .rss_image a span {
display: inline-block;
left: 0;
border-radius: 50%;
}
.feedzy-rss .feedzy-style1 .rss_item:hover .rss_image a {
box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.feedzy-rss .feedzy-style1 .rss_content_wrap {
margin: 10px 0 0;
padding: 0;
}
.feedzy-rss .feedzy-style1 .rss_content_wrap .title a {
text-decoration: none;
}
.feedzy-rss .feedzy-style1 .rss_content_wrap .title a:hover {
text-decoration: underline;
}
.feedzy-rss .feedzy-style1 .rss_content .description {
margin: 0;
padding: 0;
font-size: 90%;
}
.feedzy-rss .feedzy-style1 .rss_content .price-wrap {
margin: 10px 0 0;
text-align: center;
}
.feedzy-rss .feedzy-style1 .rss_content .price {
display: inline-block;
padding: 5px 10px;
border-radius: 5px;
color: #fff;
background: #4f6d8d;
font-weight: 700;
} .feedzy-rss .feedzy-style2 .rss_item {
padding: 0 !important;
border: 1px solid #e3edeb;
border-radius: 5px;
}
.feedzy-rss .feedzy-style2 .rss_image span {
left: 0;
}
.feedzy-rss .feedzy-style2 .rss_image,
.feedzy-rss .feedzy-style2 .rss_content_wrap {
display: inline-block;
width: 100%;
}
.feedzy-rss .feedzy-style2 .rss_image {
overflow: hidden;
width: 100%;
padding: 0;
border-bottom: 7px solid #355c7d;
line-height: 0;
text-align: center;
}
.feedzy-rss .feedzy-style2 .rss_image a span {
display: inline-block;
-webkit-transition: 0.3s ease;
transition: 0.3s ease;
}
.feedzy-rss .feedzy-style2 .rss_item:hover .rss_image a span {
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}
.feedzy-rss .feedzy-style2 .rss_content_wrap {
margin: 0;
padding: 0;
letter-spacing: 0;
}
.feedzy-rss .feedzy-style2 .rss_content_wrap .title {
display: block;
padding: 10px 15px;
}
.feedzy-rss .feedzy-style2 .rss_content_wrap .title a { text-decoration: none;
}
.feedzy-rss .feedzy-style2 .rss_content_wrap .title a:hover {
text-decoration: underline;
}
.feedzy-rss .feedzy-style2 .rss_content .meta {
padding: 10px 15px;
border-top: 1px solid #e3edeb;
border-bottom: 1px solid #e3edeb;
background-color: #f1f5f4;
}
.feedzy-rss .feedzy-style2 .rss_content .description {
margin: 0;
padding: 10px 15px;
font-size: 90%;
line-height: 1.5;
}
.feedzy-rss .feedzy-style2 .rss_content .price-wrap {
margin: 10px 0 15px;
text-align: center;
}
.feedzy-rss .feedzy-style2 .rss_content .price {
display: inline-block;
padding: 8px 15px;
color: #fff;
background: #355c7d;
font-weight: 700;
} .feedzy-rss .feedzy-rss-col-1 {
width: 96%;
} .feedzy-rss .feedzy-rss-col-2,
.feedzy-rss .feedzy-rss-col-3,
.feedzy-rss .feedzy-rss-col-4,
.feedzy-rss .feedzy-rss-col-5,
.feedzy-rss .feedzy-rss-col-6 {
float: left;
width: 96%;
}
@media screen and (min-width: 768px) {
.feedzy-rss .feedzy-rss-col-2,
.feedzy-rss .feedzy-rss-col-3,
.feedzy-rss .feedzy-rss-col-4,
.feedzy-rss .feedzy-rss-col-5,
.feedzy-rss .feedzy-rss-col-6 {
width: 46%;
}
.feedzy-rss .feedzy-rss-col-2:nth-child(2n+1),
.feedzy-rss .feedzy-rss-col-3:nth-child(2n+1),
.feedzy-rss .feedzy-rss-col-4:nth-child(2n+1),
.feedzy-rss .feedzy-rss-col-5:nth-child(2n+1),
.feedzy-rss .feedzy-rss-col-6:nth-child(2n+1) {
clear: both;
}
}
@media screen and (min-width: 992px) {
.feedzy-rss .feedzy-rss-col-3,
.feedzy-rss .feedzy-rss-col-4,
.feedzy-rss .feedzy-rss-col-5,
.feedzy-rss .feedzy-rss-col-6 {
width: 29.33333%;
}
.feedzy-rss .feedzy-rss-col-3:nth-child(2n+1),
.feedzy-rss .feedzy-rss-col-4:nth-child(2n+1),
.feedzy-rss .feedzy-rss-col-5:nth-child(2n+1),
.feedzy-rss .feedzy-rss-col-6:nth-child(2n+1) {
clear: none;
}
.feedzy-rss .feedzy-rss-col-3:nth-child(3n+1),
.feedzy-rss .feedzy-rss-col-4:nth-child(3n+1),
.feedzy-rss .feedzy-rss-col-5:nth-child(3n+1),
.feedzy-rss .feedzy-rss-col-6:nth-child(3n+1) {
clear: both;
}
}
@media screen and (min-width: 1200px) {
.feedzy-rss .feedzy-rss-col-4 {
width: 21%;
}
.feedzy-rss .feedzy-rss-col-5 {
width: 16%;
}
.feedzy-rss .feedzy-rss-col-6 {
width: 12.66666%;
}
.feedzy-rss .feedzy-rss-col-4:nth-child(3n+1),
.feedzy-rss .feedzy-rss-col-5:nth-child(3n+1),
.feedzy-rss .feedzy-rss-col-6:nth-child(3n+1) {
clear: none;
}
.feedzy-rss .feedzy-rss-col-4:nth-child(4n+1),
.feedzy-rss .feedzy-rss-col-5:nth-child(5n+1),
.feedzy-rss .feedzy-rss-col-6:nth-child(6n+1) { clear: both;
}
} .feedzy-switch {
display: inline-block;
position: relative;
width: 30px;
height: 18px;
margin-left: 20px;
} .feedzy-switch input {
display: none;
} .feedzy-tracking sup {
vertical-align: 3px;
}
.feedzy-track {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: #ccc;
cursor: pointer;
-webkit-transition: 0.4s;
transition: 0.4s;
}
.feedzy-track:before {
position: absolute;
bottom: 1.5px;
left: 2px;
width: 15px;
height: 15px;
background-color: white;
content: "";
-webkit-transition: 0.4s;
transition: 0.4s;
}
input:checked + .feedzy-track {
background-color: #0085ba;
}
input:focus + .feedzy-track {
box-shadow: 0 0 1px #0085ba;
}
input:checked + .feedzy-track:before {
-webkit-transform: translateX(11px);
-ms-transform: translateX(11px);
transform: translateX(11px);
} .feedzy-track.visualizer-round {
border-radius: 34px;
}
.feedzy-track.visualizer-round:before {
border-radius: 50%;
}
.feedzy-tracking p small sup {
margin-left: -3px;
}
.feedzy-tracking p {
padding-left: 14px;
color: #23282d;
font-size: 12px;
line-height: 12px;
text-align: left;
}
.feedzy-tracking span {
margin-left: 10px;
color: #23282d;
background: none;
font-size: 14px;
font-weight: bold;
}